@import "../../styling/Colors";
@import "../../styling/Flex";

.single__wrap {
    height: 100px;
    width: 90%;
    background-color: $bg-light;

    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px; 

    &.selected {
        width: 100%;
        border-radius: 0px!important;
        border-left: 7px $important solid;
    }
}